@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.Nav_bar nav a{
    color: #000;
    /* background-color: #fff; */
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.navbar-toggler{
    border: 1000;
}

.Show_area_p_1 img{
    opacity: 0.8;
    max-width: 100%;
    height: auto;
    
}

.introduce h1{
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.25vw;
}

.introduce p{
    padding: .9em 0;
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 2.5vw;
}

.introduce span{
    color: #fff;
}

.introduce{
    position: absolute;
    /* background: red; */
    display: grid;
    justify-content: center;
    align-items: center;
    
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
}

.Show_area_p_1{
    position: relative;
}

/* GRID */
.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(420px,2fr));
}

/* WEB_DEVELOPMENT_ICON */
.web_development_icon > p{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: x-large;
}

.web_development_icon{
    /* TOP , RIGHT, BOTTOM, LEFT */
    padding: 30px 100px;
    margin: 20px;

    position: relative;
    /* background: red;  */
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* RESPONSIVE_DESIGN_ICON */
.responsive_design_icon > p{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: x-large;
}

.responsive_design_icon{
    padding: 30px 100px;
    margin: 20px;

    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ANDROID_APP_DEVELOPMENT_ICON */
.android_app_development_icon > p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: x-large;
}

.android_app_development_icon {
    padding: 30px 25px;
    margin: 20px;

    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* GRID */
/* ABOUT_ME_AND_SKILL */
.About_me_and_skill > .grid-wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 65% 35%; 
    /* grid-template-columns: repeat(auto-fill, minmax(50% ,2fr)); */
}

.About_me_and_skill{
    max-width: 100%;
}

/* ABOUT_ME */
.about_me {
    background-color: black;
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    /* TOP , RIGHT, BOTTOM, LEFT */
    padding: 3.25% 3.25% 1% 3.25%;
    max-width: 100%;

    position: relative;
    display: grid;
    justify-content: left;
    align-items: left;
    text-align: left; 
}

.about_me > h1{
    font-size: 2.4vw;
    padding-bottom: 2%;
}

.about_me > p {
    font-size: 2vw;
    line-height: 1.6;
    letter-spacing: 1.5%;
    padding-bottom: 1%;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

/* SKILL */
.skill {
    background-color: #E0E0E0;
    opacity: 1;
    /* TOP , RIGHT, BOTTOM, LEFT */
    padding: 3.25% 0% 1% 3.75%;
    max-width: 100%;

    position: relative;
    display: grid;
    justify-content: left;
    align-items: left;
    text-align: left; 
}

.skill > h2{
    color: #000;
    font-size: 2.4vw;
    padding-bottom: 1.5%;
    font-family: 'Gloria Hallelujah', cursive;
}

.skill > ul.list{
    color: #000;
    list-style-type: disc;
    font-size: 2vw;
    line-height: 1.6;
    letter-spacing: 1.5%;
    padding-bottom: 1%;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

/* Project */
.Project {
    text-align: center;
    justify-content: center;

    background-image: url("http://www.ahmproduction.com/wp-content/uploads/2016/05/Gray-Comb-Texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: content;
    position: relative;
    height: max-content;
    
}

.Project > h2{
    position: relative;
    color: 	#fff ;
    padding-top: 4%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.25vw;
}

.Project > .carousel {
    position: grid;
    margin-top: 0%;
    margin-bottom: 4%;
}

.Project >.carousel > .carousel-inner > .carousel-item > img{
    text-align: center;
    justify-content: center;
    max-width: 60vw;
    max-height: 60vh;
    margin: 7vh auto;
}

.Project > .carousel > .carousel-inner > .carousel-item > .mobile_app{
    text-align: center;
    justify-content: center;
    max-width : 40vw; 
    max-height : 85vh;
    /* margin: .75vh 0vw 38vh 40vw; */
    margin-top: 3.6vh;
    margin-left: 40vw;
    margin-bottom: 7.1vh;
    padding: auto 50vw;
}


.Project >.carousel > .carousel-control-prev {
    /* top right bottom left */
    padding: 0 0 0 9.5vw;
    /* (top, bottom) (left, right) */
    margin: 0 3.5vw;
    position: grid;
    align-items: center;
}


.Project > .carousel > .carousel-control-next {
    /* top right bottom left */
    padding: 0 9.5vw 0 0;
    /* (top, bottom) (left, right) */
    margin: 0 3.5vw;
    position: grid;
    align-items: center;
}

/* Contact */
#contact {
    margin-bottom: 4vh;
}

#contact > .container  > .row > .col-ms-12 > h1 {
    /* background-color: red; */
    color: #000!important;
    align-items: center; 
    justify-content: center; 
    margin-left: 2.5vw!important;
    margin-top: 3vh!important;

    font-weight: 250;
}

.text-success {
    color: #000!important;
    
}

.font-weight-normal {
    font-weight: 300!important;
}









